{% extends 'pr/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block banner_slider %}


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'all/images/banner/holi.png' %}" class="d-block w-100" alt="...">
      
    </div>
    <div class="carousel-item">
      <img src="{% static 'all/images/banner/achar.jpg' %}" class="d-block w-100" alt="...">
      
    </div>
    <div class="carousel-item">
      <img src="{% static 'all/images/banner/rak.jpg' %}" class="d-block w-100" alt="...">
      
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>

</div>


{% endblock banner_slider %}


{% block main-content %}


<div class="m-3">
 <h2>Pants</h2>
 <div class="owl-carousel" id="slider1">
 {% for f in Pant %}
  <a href="{% url 'product-detail' f.id %}" class="btn"><div class="item"><img src="{{f.Image.url}}" alt="not" height="300px"><span class="fw-bold">{{f.title}}</span><br><span class="fs-5">Rs. {{f.Selling_Price}}</span></div></a>
  {% endfor %}
</div>


<div class="m-3">
  <h2>Pants</h2>
  <div class="owl-carousel" id="slider1">
  {% for f in Pant %}
   <a href="{% url 'product-detail' f.id %}" class="btn"><div class="item"><img src="{{f.Image.url}}" alt="not" height="300px"><span class="fw-bold">{{f.title}}</span><br><span class="fs-5">Rs. {{f.Selling_Price}}</span></div></a>
   {% endfor %}
 </div>

 <div class="m-3">
  <h2>Pants</h2>
  <div class="owl-carousel" id="slider1">
  {% for f in Pant %}
   <a href="{% url 'product-detail' f.id %}" class="btn"><div class="item"><img src="{{f.Image.url}}" alt="not" height="300px"><span class="fw-bold">{{f.title}}</span><br><span class="fs-5">Rs. {{f.Selling_Price}}</span></div></a>
   {% endfor %}
 </div>


 <div class="m-3">
  <h2>Pants</h2>
  <div class="owl-carousel" id="slider1">
  {% for f in Pant %}
   <a href="{% url 'product-detail' f.id %}" class="btn"><div class="item"><img src="{{f.Image.url}}" alt="not" height="300px"><span class="fw-bold">{{f.title}}</span><br><span class="fs-5">Rs. {{f.Selling_Price}}</span></div></a>
   {% endfor %}
 </div>


{% endblock main-content %}

